@media screen and (max-width: 992px) {
    #videobg {
        position: fixed;
        width: 0%;
        visibility: hidden;
      }
    .container1 h1{
        font-size: 40px !important;
    }
    .p1{
        font-size: 19px !important;
    }
    body{
        background-image: linear-gradient(to bottom right , rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(../img/landingbg2.jpg);
        background-size: cover;
        height: 100vh; 
    }
    
    .nav-tgl {
        right: 20px;
        top: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        font-size: 0px;
      
      }
    .hero-text{
        margin-top: 12vh;
        padding-bottom:2vh !important;
        margin-bottom: 2vh;  
    }
    .card1{

        align-content: center;
        width: 250px;
        height: 300px;
        margin: 2vh auto;
      }
      .card {
        width: calc(85% - 2rem);
        min-width: calc(85% - 2rem);
        height: 45vh;
        min-height: 400px;
        perspective: 1000px;
        margin-left: 12.5%;
      }
      figure.snip0029 {
        font-family: 'Raleway', Arial, sans-serif;
        color: #fff;
        position: relative;
        overflow: hidden;
        margin: 10px;
        margin-left: 7.5%; 
        min-width: 220px;
        max-width: 310px;
        max-height: 220px;
        width: 100%;
        background: #000000;
      }

      .slider__text-item-head {
        font-size: 8px;
      }
        /* GALLERY 2 CSS */

  .fixed-center-logo{
    position: fixed;
    z-index: 5;
    top:10%;
    left: 73%;
  }
  .nav-tgl{
    top:10%;
  }
  }

